{% extends 'base.html' %}

{% block content %}
<a href="{% url 'board:create' %}">
    <div class="col-auto my-1" align="left">
        <button type="submit" class="btn btn-success">Write</button>
    </div>
</a>

<br>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col" style="width: 5%" align="center">#</th>
        <th scope="col" style="width: 45%" align="center">Title</th>
        <th scope="col" style="width: 20%" align="center">User</thwith>
        <th scope="col" style="width: 30%" align="center">Date</th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tr>
        <td>{{object.id}}</td>
        <td><a href="{% url 'board:detail' object.id %}">{{object.title}}</a></td>
        <td>{{object.author.username}}</td>
        <td>{{object.updated}}</td>
    </tr>
    {% endfor %}
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for page in page_range %}
        <li class="page-item"><a class="page-link" href="{% url 'board:list' %}?page={{page}}">{{page}}</a></li>
        {% endfor %}
    </ul>
</nav>

<a href="{% url 'board:create' %}">
    <div class="col-auto my-1" align="right">
        <button type="submit" class="btn btn-success">Write</button>
    </div>
</a>

<form action="" method="get" id="search_form" class="">
    {%csrf_token%}
    <div class="form-row align-items-center justify-content-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="username" name="search_type">
            <label class="form-check-label" for="inlineCheckbox1">User</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="title" name="search_type"
                   checked>
            <label class="form-check-label" for="inlineCheckbox2">Title</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="text" name="search_type">
            <label class="form-check-label" for="inlineCheckbox3">Contents</label>
        </div>
    </div>
    <div class="form-row align-items-center justify-content-center">
        <div class="col-sm-3 my-1">
            <input type="text" class="form-control" placeholder="Search Keyword" name="search_key">
        </div>

        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div id="calendar" style="height: 800px;"></div>


{% endblock %}

{% block extra_script %}
<script type="text/javascript">
var calendar = new tui.Calendar(document.getElementById('calendar'), {
    defaultView: 'day',
    taskView: true,    // Can be also ['milestone', 'task']
    scheduleView: true,  // Can be also ['allday', 'time']
    template: {
        milestone: function(schedule) {
            return '<span style="color:red;"><i class="fa fa-flag"></i> ' + schedule.title + '</span>';
        },
        milestoneTitle: function() {
            return 'Milestone';
        },
        task: function(schedule) {
            return '&nbsp;&nbsp;#' + schedule.title;
        },
        taskTitle: function() {
            return '<label><input type="checkbox" />Task</label>';
        },
        allday: function(schedule) {
            return schedule.title + ' <i class="fa fa-refresh"></i>';
        },
        alldayTitle: function() {
            return 'All Day';
        },
        time: function(schedule) {
            return schedule.title + ' <i class="fa fa-refresh"></i>' + schedule.start;
        }
    },

    month: {
        daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        startDayOfWeek: 0,
        narrowWeekend: true
    },
    week: {
        daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        startDayOfWeek: 0,
        narrowWeekend: true
    }
});
calendar.createSchedules([
    {
        id: '1',
        calendarId: '1',
        title: 'Django',
        category: 'time',
        dueDateClass: '',
        start: '2019-05-23T09:30:00+09:00',
        end: '2019-06-23T18:30:00+09:00'
    },
    {
        id: '2',
        calendarId: '1',
        title: 'Data Science',
        category: 'time',
        dueDateClass: '',
        start: '2019-05-22T15:00:00+09:00',
        end: '2019-06-19T20:00:00+09:00'
    }
]);


 </script>
{% endblock %}